<link rel="stylesheet" href="/css/chofer/listar.css">
<form action="chofer/listar/"method="get"></form>
<head>
    <div id="contendodrhe">
      <div>
       <div class="navbar">
                <div id="imagen">
                    <img src="/img/logon.png"></img></div>
                    <a id="inicio" href="/inicio2">Inicio</a>
                    <a id="administrador" href="#">Administrador</a>
                    <img id="img2" src="/img/perfil.png" alt="">
            </div>
</head>
<h1>Registro de Choferes</h1>
<div id="contenedor">
    
    <div class="row">
        {{#each lista}}
        <div id="tarjeta">
            <u><h2>Datos</h2></u>
            <div>
                <p>{{cedula_chofer}}</p>
            </div>
            <div>
                <p>{{nombres_chofer}}</p>
            </div>
            <div>
                <p>{{apellidos_chofer}}</p>
            </div>
            <div>
                <p>{{sexo_chofer}}</p>
            </div>
            <div>
                <p>{{estado_civil_chofer}}</p>
            </div>
            <div>
                <p>{{fecha_nacimiento_chofer}}</p>
            </div>
            <div>
                <p>{{direccion_chofer}}</p>
            </div>
            <div>
                <p>{{email_chofer}}</p>
            </div>
            <div>
                <p>{{celular_chofer}}</p>
            </div>
            
                
        <div id="tarjeta">
            <u><h2>Licencia</h2></u>
             <div>
                <p>{{tipo_licencia}}</p>
            </div>
            <div>
                <p>{{fecha_emision_licencia}}</p>
            </div>
            <div>
                <p>{{fecha_vencimiento_licencia}}</p>
            </div>
                <div>
                    <a href="/chofer/editar/{{id_chofer}}"><button type="button">Editar</button></a>
                </div>
                <div>
                    <a href="/chofer/eliminar/{{id_chofer}}"><button type="button" style="background-color: red;">Eliminar</button></a>
                </div>
        </div>
        {{/each}}
    </div>
</div>

<footer id="footer" class="">
      <div class="container">
        <div class="row text-left">
          <div class="contact">
            <p>Contactanos</p>
            <img id="btnwasa" src="/img/wasa.png" alt=""><br>
            <img id="btnmail" src="/img/mail.png" alt=""><br>
            <img id="btntelef" src="/img/telef.png" alt="">
          </div>
          <div id="destin">
            <p>Destinos</p><br>
            <a>Playa</a><br>
            <a>Montaña</a><br>
            <a>Inolvidables eventos</a>
          </div>
          <div class="soport">
            <p>Soporte</p>
            
          </div>
        </div>
      </div>
</footer>