<link rel="stylesheet" href="/css/buses/editar.css">
{{#each lista}}
<form action="/buses/editar/{{id_bus}}" method="post">

  <body>

    <head>
      <div>
        <div class="navbar">
          <div id="imagen">
            <img src="/img/logon.png"></img>
          </div>

          <a id="administrador" href="#">Administrador</a>
          <img id="img2" src="/img/perfil.png" alt="">
        </div>
      </div>
    </head>
    <div id="container">
      <img class="fondo" src="/img/registro de transporte.jpg" alt="">
      <h2>Actualización del Transporte</h2>
      <h3>Datos del Transporte</h3>

      <label id="placa" for="placa">Placa del transporte</label> <br>
      <input type="text" id="nroplaca" name="placa_bus" value="{{placa_bus}}" required>

      <label id="name" for="nombre">Nombre de la empresa encargada</label>
      <input type="text" id="nombre" name="nombres_cooperativa_bus" value="{{nombres_cooperativa_bus}}" required>

      <label id="capacidad" for="capacidad">Capacidad Maxima</label>
      <input type="number" id="capacidadmaxima" name="capacidad_bus" value="{{capacidad_bus}}" required>
      <br> <br><br>
      <br> <br>

      <label id="conductor" for="conductor">Conductor encargado</label>
      <input type="text" id="conductorencargado" name="conductor_encargado_bus" value="{{conductor_encargado_bus}}"
        required>
      <br>

      <label id="copiloto" for="copiloto">Copiloto Asignado</label>
      <input type="text" id="copilotoasignado" name="nombre_copiloto_bus" value="{{nombre_copiloto_bus}}" required>

      <label id="partida" for="partida">Partida</label> <br>
      <input type="text" id="partidaa" name="partida_ruta" value="{{partida_ruta}}" required>

      <label id="destino" for="destino">Destino</label> <br>
      <input type="text" id="destinoo" name="destina_ruta" value="{{destina_ruta}}" required>
      <br><br> <br>
      <br> <br> <br><br>

      <div id="boton">
        <button type="submit">Actualizar</button>
      </div>
      <div class="cancelar">
        <button type="submit">Cancelar</button>
      </div>
    </div>
    </div>
    </div>
</form>
{{/each}}

<footer id="footer" class="">
  <div class="container">
    <div class="row text-left">
      <div id="contact">
        <p>Contactanos</p>
        <img id="btnwasa" src="/img/wasa.png" alt=""><br>
        <img id="btnmail" src="/img/mail.png" alt=""><br>
        <img id="btntelef" src="/img/telef.png" alt="">
        <b><a>Whatsapp</a><br></b>
        <a>09 3456 7890</a><br> <br>
        <b><a>Email</a></b><br>
        <a>hola@tickets.com</a> <br> <br>
        <b><a>Call Center</a></b><br>
        <a>+59322 3456 7891</a><br> <br>
      </div>
      <div id="destin">
        <p>Destinos</p>
        <a href="">Playa</a><br> <br>
        <a href="">Montaña</a><br> <br>
        <a href="">Inolvidables eventos</a>
      </div>
      <div id="soport">
        <p>Soporte</p>
        <a href="">Preguntas frecuentes</a><br> <br>
        <a href="">Política de privacidad</a><br> <br>
        <a href="">Términos y condiciones</a><br> <br>
        <a href="">Inolvidables eventos</a> <br>
      </div>
      <div id="follow">
        <b>
          <p>Síguenos</p>
        </b>
        <a href=""><img id="ig" src="/img/insta.png" alt=""></a>
        <a href=""><img id="fb" src="/img/fb.png" alt=""></a>
      </div>
    </div>
  </div>
</footer>
</body>